
        
        <div class="content">
            <div class="row">
                <div class="footer1 col-md-12">
                    <div class="col-md-3">
                        <p><b>Phòng Trọ Vip</b></p>
                        
                            <p style="color:#ebe6e6">
                                Phòng trọ vip tự hào có lượng dữ liệu bài
                                đăng lớn nhất trong lĩnh vực cho thuê phòng trọ.
                            </p>
                        

                    </div>
                    <div class="col-md-3">
                        <p ><b>Tìm hiểu Phòng Trọ Vip</b></p>
                        <p style="color:#ebe6e6">
                            <a href="#">Trang chủ</a> <br />
                            <a href="#">Giới thiệu</a> <br />
                            <a href="#">Quy chế hoạt động</a> <br />
                            <a href="#">Quy định sử dụng</a> <br />
                            <a href="#">Chính sách bảo mật</a> <br />
                            <a href="#">Liên hệ</a> <br />
                        </p>
                    </div>
                    <div class="col-md-3">
                        <p><b>Hỗ trợ khách hàng</b></p>
                        <p style="color:#ebe6e6">
                            <a href="#">Câu hỏi thường gặp</a> <br />
                            <a href="#">Hướng dẫn đăng tin</a> <br />
                            <a href="#">Bảng giá dịch vụ</a> <br />
                            <a href="#">Quy định đăng tin</a> <br />
                            <a href="#">Giải quyết khiếu nại</a> <br />
                        </p>
                    </div>
                    <div class="col-md-3">
                        <p><b>Liên hệ với chúng tôi</b></p>
                        <div class="hinhanhfooter">
                            <a href="https://www.facebook.com/phongtro123.com.vn/">
                                <img src="~/Content/Images/facebook.png" width="35px" height="35px" />
                            </a>
                            <a href="https://www.facebook.com/phongtro123.com.vn/">
                                <img src="~/Content/Images/instagram.jpg" width="35px" height="35px" />
                            </a>
                            <a href="https://www.youtube.com/channel/UCaffQMAgZZ_sp92UPjR6Fgg">
                                <img src="~/Content/Images/youtube.jpg" width="35px" height="35px" />
                            </a>
                            <a href="https://www.facebook.com/phongtro123.com.vn/">
                                <img src="~/Content/Images/zalo.jpg" width="35px" height="35px" />
                            </a>
                        </div>
                        <p><b>Phương thức thanh toán</b></p>
                        <img src="~/Content/Images/phuongthucthanhtoan.png" width="200px" height="80px" />
                    </div>
                </div>



                <div class="footer2 col-md-12">
                    <div class="colum col-md-3">
                        <img src="~/Content/Images/diachi.jpg" width="35px" height="35px" />
                        <p><b>Địa chỉ</b></p>
                        
                            <p style="color:#ebe6e6">
                                475A Điện Biên Phủ, Phường 25, Bình Thạnh,
                                Thành phố Hồ Chí Minh
                            </p>
                        
                    </div>
                    <div class="colum col-md-3">
                        <img src="~/Content/Images/dienthoai.jpg" width="35px" height="35px" />
                        <p><b>Điện Thoại</b></p>
                        
                            <p style="color:#ebe6e6">0342 771 256 <br />
                            0345 765 910</p>
                        
                    </div>
                    <div class="colum col-md-3">
                        <img src="~/Content/Images/email.png" width="35px" height="35px" />
                        <p><b>Email</b></p>
                       
                            <p style="color:#ebe6e6">cuong2482000@gmail.com</p>
                        
                    </div>
                    <div class="colum col-md-3">
                        <img src="~/Content/Images/website.jpg" width="35px" height="35px" />
                        <p><b>Website</b></p>
                        <a href="https://phongtro123.com/">https://phongtro123.com/</a>

                    </div>
                </div>

            </div>
        </div>
        <font color="black">
            <p><b>&copy; @DateTime.Now.Year - Nguyễn Quốc Cường - MSSV: 1811062076</b></p>
        </font>
