
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="center-outer">
    <div class="center-inner">

        <div class="bubbles">
            <h1>Admin</h1>
        </div>

    </div>
</div>


<img style="border: 7px solid #120a67" src="~/Content/Images/admin.jpg" width="1150px"  height="500px"/>


